.app-footer {
    margin-top: 2rem;
    background: #fff3e0;
    padding: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .footer-bottom {
        width: 100%;
        .logo {
            width: 5rem;
            height: auto;
            margin: 4px;
        }
    }
}
