.idea
/public/hot
/storage
/public/images/vendor
/public/images/QR
/node_modules
/public/js
public/mix-manifest.json
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
