// LAYOUT VARS
$topbar-height: 80px;
$topbar-height-mobile: 70px;

$sidebar-left-width: 120px;
$sidebar-left-width-mobile: 90px;
$sidebar-left-secondary-width: 220px;
$sidebar-left-secondary-width-mobile: 190px;
$side-clearance: 20px;
$primary_yellow: #FF9800;
$primary_yellow-100: #ff98006b;
$primary_black: #000000;
$primary_grey: #9CA3AF
;
